{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "standard",
    "standard-jsx"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "simple-import-sort"
  ],
  "rules": {
    "import/no-absolute-path": "off",
    "react/no-children-prop": "off",
    "comma-dangle": ["error", "always-multiline"],
    "react/jsx-closing-bracket-location": ["error", {
      "nonEmpty": "after-props"
    }],
    "simple-import-sort/imports": ["error", {
      "groups": [
        ["^\\u0000"],
        ["^innet$", "^@?\\w"],
        ["^"],
        ["^(/|src)"],
        ["^/pages"],
        ["^/ui"],
        ["^\\.+(/[^/.]+|/[^.]+/[^/.]+)$"],
        ["^\\..+"],
        ["^\\.$"],
        ["^\\..+.s?css$"]
      ]
    }]
  }
}
