@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.root {
  transition: all 0.3s;
  animation: show 0.3s;
  opacity: 1;
  padding: 0 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.hide {
  opacity: 0;
}
