html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #2B2B2B;
  color: #F7B756;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 40px;
}

.root {
  color: #F7B756;
  text-decoration: none;
}

.active {
  color: white;
  pointer-events: none;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-bottom: 100px;
}

.content {
  max-width: 1024px;
  margin: auto;
  text-align: center;
}
