html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: #2B2B2B;
  color: #F7B756;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 40px;
}
